<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stars_spiral_burst_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{24,26}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{449,233},{24,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{315,379},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{449,189},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-2}</string>
                <key>spriteSize</key>
                <string>{44,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{257,387},{44,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{413,295},{48,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{60,80}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{95,289},{60,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{70,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{191,295},{70,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{78,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,353},{78,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{74,88}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{101,351},{74,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{195,109},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{86,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{101,117},{86,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-15}</string>
                <key>spriteSize</key>
                <string>{92,98}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{391,1},{92,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{395,95},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{291,1},{98,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{102,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{291,99},{102,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,4}</string>
                <key>spriteSize</key>
                <string>{82,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{99,205},{82,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{86,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{289,193},{86,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,7}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{197,191},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,6}</string>
                <key>spriteSize</key>
                <string>{94,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{195,1},{94,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,241},{92,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{92,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{101,1},{92,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,5}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,123},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{98,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{98,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{70,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{377,193},{70,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{263,295},{72,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,6}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{337,295},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{413,365},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-13}</string>
                <key>spriteSize</key>
                <string>{64,44}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{191,387},{64,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-24}</string>
                <key>spriteSize</key>
                <string>{8,24}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{481,189},{8,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-35}</string>
                <key>spriteSize</key>
                <string>{4,6}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{101,427},{4,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars_spiral_burst_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-36}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{109,427},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stars_spiral_burst_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-38}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{115,427},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_spiral.png</string>
            <key>size</key>
            <string>{490,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:296924360ea51ec7410e34240e764bb8:6e4f08a1ef5745c5951c4c7891ba426a:a24c42b036bff770eb5961dccd5236c3$</string>
            <key>textureFileName</key>
            <string>star_spiral.png</string>
        </dict>
    </dict>
</plist>
