<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_flash_burst_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{393,521},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{393,353},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{225,337},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{309,315},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{309,401},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{225,423},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{393,437},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{309,485},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,12}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{209,507},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{393,267},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{119,431},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{129,337},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,10}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{259,219},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{104,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{381,169},{104,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{108,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,485},{108,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{381,1},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,375},{116,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{259,1},{120,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{122,116}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,123},{122,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,255},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,1},{126,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{128,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,129},{128,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,1}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{255,123},{94,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-1}</string>
                <key>spriteSize</key>
                <string>{94,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{131,241},{94,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,5}</string>
                <key>spriteSize</key>
                <string>{58,112}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{381,109},{58,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_flash_burst_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,44}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{451,521},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,43}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{103,519},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_flash_burst_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,43}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{451,557},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star_burst.png</string>
            <key>size</key>
            <string>{494,594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bcb6faac57443d49f54b1f9362aba8d:b4284c3d87b9e4c3f6885317b57aae86:7f41cc54e4d7a52c7a7336bd73f90c8f$</string>
            <key>textureFileName</key>
            <string>star_burst.png</string>
        </dict>
    </dict>
</plist>
