html {
position: relative;
    min-height: 100%;
}

body {
/* Margin bottom by footer height */
    margin-bottom: 180px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 180px;
}
  

video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url('/video/Tired_is_Happy.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
video#bgvid::-webkit-scrollbar {
    display: none;
}

.gof-scenario-item {
    position:relative;
    background-repeat: no-repeat;
    background-size: 400px 343px;
    width: 400px;
    height: 343px;
}

.gof-scenario-item span {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

.gof-scenario-item-outline {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .55);
    -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .55);
}

a.disabled {
    color: gray;
    pointer-events: none;
}

.gof-center {
    text-align: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.gof-right { 
    text-align: right;
}
