html {
    position: relative;
    min-height: 100%;
}

body {
    /*footer height*/
    margin-bottom: 180px;

    min-width: 600px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    /*footer height*/
}

.navigation-menu {
    background-color: #7C3337;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 8px;
}

.navigation-menu>li>a:hover {
    background-color: #8C4B4E;
}

.navigation-menu>li>a:not(.disabled) {
    color: #FEEEC6;
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front {
    background-color: #FEEEC6;
    border-color: #7C3337;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
}
.scenario-thumbnail {
    height:100px; 
    background-size: cover; 
    border-radius: 8px;
    min-width: 143px;
}
.scenario-title-thumnail {
    color: #FEEEC6;
    background-color: #7C3337; 
    position:absolute; 
    left:0; 
    right: 0; 
    bottom:0; 
    border-bottom-right-radius:8px; 
    border-bottom-left-radius:8px;
}

video#bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url('/video/bg_video.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

video#bgvid::-webkit-scrollbar {
    display: none;
}

#chooseRole {
    width: 100%;
}

#selectRole {
    width: 100%;
}

.gof-scenario-item {
    /*position:relative;
    background-repeat: no-repeat;
    background-size: 400px 343px;*/
    margin-bottom: 15px;
    margin-top: 15px;
    height: 300px;
}

.gof-scenario-item>.thumbnail {
    height: 100%;
    border: 1px solid #71242c;
}

.gof-scenario-item>.thumbnail>img {
    height: 30%;
}


/* Ellipsis for description of scenario*/

.gof-scenario-item>.thumbnail>.caption>p {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 100%;
    height: 40%;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gof-scenario-item>.thumbnail>.caption {
    position: absolute;
    margin: 0 15px;
    /*the margin of the col-md-4 class*/
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    overflow: hidden;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

.gof-scenario-item-outline {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .55);
    -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, .55);
}

.btn.disabled {
    opacity: 1;
    color: #a0a0a0;
    background-color: #808080;
}

a.disabled {
    pointer-events: none;
    color: #a0a0a0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

li.list-group-header {
    background-color: #71242c;
}
.list-group-header>.row {
    background-color: #71242c;
    color: #FEEEC6;
    font-size: 14px;
    font-weight: bold;
}

.list-group-item {
    background-color: #FEEEC6;
    border: 1px solid #71242c;
}

.list-group-item>.row {
    display: flex;
    align-items: center;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    border-radius: 8px;
    border: 2px solid transparent;
    font-weight: bold;
}

.btn-primary {
    color: #000;
    background-color: #5eb290;
    border-color: #481d22;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #000;
    background-color: #5eb290;
    border-color: #7C3337;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
}

.btn-primary:hover {
    color: #000;
    background-color: #A5F2D3;
    border-color: #481d22;
}

.btn-primary:active:focus {
    color: #000;
    background-color: #faffa2;
    border-color: #7C3337;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
}

.panel {
    background-color: #ffe8b3;
    border: 6px solid #71242c;
    border-radius: 8px;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, .2);
}

.panel-info>.panel-heading {
    border-radius: 0px;
    border: 0px;
    background-color: #7C3337;
    color: #FEEEC6;
    font-size: 18px;
    font-weight: bold;
}

.panel-info>.panel-body {
    border: 0px;
    padding: 5%;
}

.panel-info>.panel-nesting {
    padding: 5px;
}

.form-group div {
    position: relative;
    margin-right: 15px;
}
.input-group.required:after {
    position: absolute;
    content: "*"; 
    right: -10px;
    color: #7C3337;
    font-size: 20px;
    bottom: 0;
}

input.form-control {
    background-color: #FEEEC6;
}

.form-control:focus {
    border-color: #7C3337;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(124, 51, 55, .6);
}

textarea.form-control {
    background-color: #FEEEC6;
}

textarea[name=emails] {
    resize: none;
}

.input-group-addon>img {
    height: 20px;
}

.input-group>select {
    background-color: #FEEEC6;
}

.form-control>option {
    background-color: #FEEEC6;
}

.input-group-addon {
    background-color: #FEEEC6;
}

.row-padding-lr-20p {
    padding: 0 20%;
}

.row-padding-lr-25p {
    padding: 0 25%;
}

.margin-t-10px {
    margin-top: 10px;
}

.margin-t-20px {
    margin-top: 20px;
}

.margin-t-30px {
    margin-top: 30px;
}

/* GAME CANVAS RELATED*/

#GameDiv {
    /*width: 1280px;
    height: 720px;
    margin: auto;*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#GameCanvas {
    /*width: 1280px;
    height: 720px;*/
    width: auto;
    height: auto;
}

#GameDiv:-moz-full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: white;
}

.hide-in-fullscreen:-moz-full-screen {
    display: none;
}

.hide-in-fullscreen:-webkit-full-screen {
    display: none;
}

.hide-in-fullscreen:-ms-fullscreen {
    display: none;
}

.hide-in-fullscreen:fullscreen {
    display: none;
}

#splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #171717 url(/images/logo_GoF_hori.png) no-repeat center;
}

.progress-bar {
    background-color: #1a1a1a;
    position: absolute;
    left: 50%;
    top: 80%;
    height: 26px;
    padding: 5px;
    width: 350px;
    margin: 0 -175px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    background-color: #34c2e3;
}

.stripes span {
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    animation: animate-stripes 1s linear infinite;
}

@keyframes animate-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 60px 0;
    }
}