<div class="row" style="padding: 0 20% 0 20%;">
    <div class="panel panel-info">
        <div class="panel-heading">{{i18n "monitor_panel_title"}}</div>
        <div class="panel-body" style="padding: 5%;">
            {{#if error}}
                {{#if error.global}}
                <div class="alert alert-danger" role="alert">
                    {{{error.global}}}
                </div>
                {{/if}}
            {{/if}}

            {{#if success}}
                <div class="alert alert-success" role="alert">
                    {{#each success}}
                        {{this}}
                    {{/each}}
                </div>
            {{/if}}

            <div class="row">
                <div class="col-md-4">
                    <form method="POST" action="/channels/{{channel._id}}/monitor" class="form-horizontal">
                        <div class="input-group">
                            <label for="inviteEmails">{{i18n "invite_email_area_label"}}</label>
                            <textarea class="form-control" id="inviteEmails" name="emails" rows="10"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary pull-right" style="margin-top: 10px;" value='{{i18n "send_invites"}}'/>
                    </form>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">{{i18n "monitor_panel_pendings_title"}}</div>
                        <div class="panel-body" style="padding: 5%;">
                            <div><ul>
                                {{#each pendings}}
                                <li>{{email}}</li>
                                {{/each}}
                            </ul></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">{{i18n "monitor_panel_accepted_title"}}</div>
                        <div class="panel-body" style="padding: 5%;">
                            <ul>
                                {{#each accepteds}}
                                <li>{{email}}</li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>