<div class="row" style="width: 50%; margin:auto;">
    <div><ul>
    {{#each channels}}
    <li>{{created}}, {{phase}}, {{#if closed}} Terminée {{else}} En cours <a class="btn btn-primary" href='/channels/{{_id}}/monitor'>{{i18n "monitor_channel"}}</a> {{/if}} <a class="btn btn-primary" href='/channels/scores/{{_id}}'>{{i18n "show_scores"}}</a></li>
    {{/each}}
    </ul></div>
</div>    

<div class="row" style="width: 50%; margin:auto;">
    <a href="/channels/scenarioselection" class="btn btn-primary">{{i18n "create_new_channel"}}</a>
</div>