<div class="row gof-top-spacer">
    <div class="panel panel-info">
        <div class="panel-heading">{{i18n "dashboard"}}</div>
        <div class="panel-body">
            <div class="clearfix">
                <a href="/channels/scenarioselection" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {{i18n "create_new_channel"}}</a>
            </div>

            <ul class="list-group margin-t-30px">
                {{#each channels}}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">{{createdStr}}</div>
                        <div class="col-md-1">{{phaseStr}}</div>
                        <div class="col-md-2">
                            {{#if closed}} {{i18n "state_done"}} {{else}} {{i18n "state_running"}} {{/if}}
                        </div>
                        <div class="col-md-2">
                            {{#if closed}} {{score}} / 20 {{/if}}
                        </div>
                        {{#if closed}}
                        <div class="col-md-4">
                            <a class="btn btn-primary pull-right" href='/channels/exportscores/{{_id}}/csv'><span class="glyphicon glyphicon-export"></span> {{i18n "export_csv"}}</a>
                        </div>
                        {{else}}
                        <div class="col-md-4">
                            <a class="btn btn-primary pull-right" href='/game/start/{{_id}}'>{{i18n "resume_game"}}</a>
                        </div>
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>