<div id="GameDiv">
  <canvas id="GameCanvas" width="1280" height="720" gof-access-token="{{accessToken}}" gof-channel-id="{{channelId}}"></canvas>
  <div id="splash">
    <div class="progress-bar stripes">
      <span style="width: 0%"></span>
    </div>
  </div>
  <script src="src/settings.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
  <script>
    function doResize(canvas, gameDiv, preferWidth, fs) {
      var aspectRatio = 16 / 9;
      var newWidth = Math.round(preferWidth * 0.66666);
      if (fs) {
        newWidth = preferWidth;
      }
      console.log(newWidth);

      var newHeight = Math.round(newWidth / aspectRatio);

      if (newWidth === canvas.width && newHeight === canvas.height) {
        return;
      }

      var p = canvas.parentElement;
      p.style.width = newWidth + "px";
      p.style.height = newHeight + "px";

      gameDiv.style.width = p.style.width;
      gameDiv.style.height = p.style.height;

      canvas.width = newWidth;
      canvas.height = newHeight;

      canvas.style.width = p.style.width;
      canvas.style.height = p.style.height;

      gameDiv.style.margin = "auto";

      var policy = new cc.ResolutionPolicy(cc.ContainerStrategy.PROPORTION_TO_FRAME, cc.ContentStrategy.EXACT_FIT);
      cc.view.setDesignResolutionSize(1280, 720, policy);
      cc.view.setFrameSize(newWidth, newHeight);

    }

    function adjustCanvasSize(event) {
      var canvas = document.getElementById("GameCanvas");
      var gameDiv = document.getElementById("GameDiv");
      if (canvas && gameDiv) {
        var preferWidth = window.innerWidth;
        doResize(canvas, gameDiv, preferWidth, isFullscreen());
      }
    }

    function isFullscreen() {
      return document.fullscreen || document.mozFullScreen || document.webkitIsFullScreen || document.msFullscreenElement;
    }

    function gofs() {
      var gameDiv = document.getElementById("GameDiv");
      if (gameDiv.requestFullscreen) {
        gameDiv.requestFullscreen();
      } else if (gameDiv.mozRequestFullScreen) {
        gameDiv.mozRequestFullScreen();
      } else if (gameDiv.webkitRequestFullScreen) {
        gameDiv.webkitRequestFullScreen();
      } else if (gameDiv.msRequestFullscreen) {
        gameDiv.msRequestFullscreen();
      }
    }

    function fsChange(fullscreen) {
      var canvas = document.getElementById("GameCanvas");
      var gameDiv = document.getElementById("GameDiv");
      if (canvas && gameDiv) {
        doResize(canvas, gameDiv, screen.width, fullscreen);
      }
    }

    function onFirstSceneLoaded(event) {
      cc.director.off(cc.Director.EVENT_AFTER_SCENE_LAUNCH, onFirstSceneLoaded);
      adjustCanvasSize(null);
    }

    window.addEventListener('resize', adjustCanvasSize, false);
    window.addEventListener('orientationchange', adjustCanvasSize, false);


    document.addEventListener("fullscreenchange", function () {
      fsChange(document.fullscreen);
    }, false);

    document.addEventListener("mozfullscreenchange", function () {
      fsChange(document.mozFullScreen);
    }, false);

    document.addEventListener("webkitfullscreenchange", function () {
      fsChange(document.webkitIsFullScreen);
    }, false);

    document.addEventListener("msfullscreenchange", function () {
      fsChange(document.msFullscreenElement);
    }, false);

    window.onload = function () {
      cc.director.on(cc.Director.EVENT_AFTER_SCENE_LAUNCH, onFirstSceneLoaded);
    };

    $("#GameDiv").click(function (event) {
      gofs();
    });
  </script>
</div>