<div class="row" style="width: 50%; margin:auto;">
    <div class="panel panel-info">
        <div class="panel-heading">{{i18n "index_welcome"}}</div>
        <div class="panel-body" style="padding: 5%;">
            {{i18n "index_game_synopsis"}}

            <div class="row" style="padding-top:10px;">
                <a href="/auth/register/master" class="btn btn-primary">{{i18n "im_a_master"}}</a>
                <a href="/auth/register/player" class="btn btn-primary">{{i18n "im_a_player"}}</a>
            </div>

            <div class="col-md-12">
                    <a href="http://www.ekylibre.com/" target="_blank"><img height="125" src="/images/logo_ekylibre.png"/></a>
                </div>
    
                <div class="col-md-12">
                    {{i18n "ekylibre_copyright"}}
                </div>
        </div>
    </div>
</div>
