
<div class="row" style="padding: 0 20% 0 20%;">
    <div class="panel panel-info">
    <div class="panel-heading">{{i18n "index_welcome"}}</div>
    <div class="panel-body" style="padding: 5%;">
        
        <div class="row">
            <form method="POST" action="/auth/login" class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">{{i18n "email_input"}}</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" required="required" class="form-control" id="inputEmail"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">{{i18n "password_input"}}</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" required="required" class="form-control" id="inputPassword"/>
                    </div>
                </div>

                <input type="submit" class="btn btn-primary pull-right" value='{{i18n "login"}}'/>
            </form>
        </div>
        <div class="row" style="padding-top:10px;">
            <a href="/auth/register" class="btn btn-primary pull-right" role="button">{{i18n "register"}}</a>
        </div>
        <div class="row" style="padding-top: 10px;">
            <a href="/auth/lostpassword">{{i18n "index_lostpassword_link"}}</a>
        </div>
    </div>
    </div>
</div>


