{{#if user}}
<div class="alert alert-success" role="alert">
    {{{i18n "lost_password_email_sent"}}}
</div>
{{else}}
<div class="row" style="padding: 0 20% 0 20%;">
    <div class="panel panel-info">
    <div class="panel-heading">{{i18n "lost_password_panel_title"}}</div>
    <div class="panel-body">
        {{#if error}}
            {{#if error.global}}
            <div class="alert alert-danger" role="alert">
                {{{error.global}}}
            </div>
            {{/if}}
        {{/if}}
        <form method="POST" action="/auth/lostpassword" class="form-horizontal">
            <div class="form-group {{#if error.form.email}}has-error{{/if}}">
                <label for="inputEmail" class="col-sm-2 control-label">{{i18n "email_input"}}</label>
                <div class="col-sm-10">
                    <input type="email" name="email" required="required" class="form-control" id="inputEmail" value="{{error.form.email}}"/>
                </div>
            </div>

           <!-- {{{ captcha_form }}} -->

            <input type="submit" class="btn btn-primary pull-right" />
        </form>
    </div>
    </div>
</div>
{{/if}}