<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/"><img height="200" src="/images/logo_GoF_cr_250.png"/></a>
        </div>
        <ul class="nav navbar-nav navbar-right navigation-menu">
            <li><a href="#" class="disabled">{{user.firstName}} {{user.lastName}}</a></li>
            <li><a href="/dashboard">{{i18n "dashboard"}}</a></li>
            <li><a href="/auth/logout">{{i18n "logout"}}</a></li>
        </ul>
    </div>
</nav>