<div class="panel panel-info">
  <div class="panel-heading">{{reset_password_panel_title}}</div>
  <div class="panel-body">
    
    <form method="POST" action="/auth/resetpassword" class="form-horizontal">
        <input type="hidden" name="token" required="required" value="{{token}}" />
        <div class="form-group">
            <label for="inputPassword1" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password1" required="required" class="form-control" id="inputPassword1"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword2" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password2" required="required" class="form-control" id="inputPassword2"/>
            </div>
        </div>

        <input type="submit" class="btn btn-primary" />
    </form>
  </div>
</div>