<div class="row gof-top-spacer">
    <div class="panel panel-info">
        <div class="panel-heading">{{pageTitle}}</div>
        <div class="panel-body">
            <div class="row">
                <ul class="list-group">
                    {{#each channel.users}}
                    <li class="list-group-item">
                        <div class="row vertical-align">
                            <div class="col-md-3 text-ellipsis"><strong class="text-capitalize">{{user.firstName}} {{user.lastName}}</strong></div>
                            <div class="col-md-3 text-ellipsis">{{user.email}}</div>
                            {{#if phaseResult}}
                            <div class="col-md-2"><strong>{{phaseResult.scoreStr}}</strong></div>
                            <div class="col-md-4 gof-right"><a class="btn btn-primary" href="/channels/exportscores/{{../channel.id}}/csv"><span class="glyphicon glyphicon-export"></span> {{i18n "export_csv"}}</a></div>
                            {{else}}
                            <div class="col-md-2">{{i18n "channelstate_opened"}}</div>
                            <div class="col-md-4"></div>
                            {{/if}}
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>