<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_papillons_diffuse0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{99,1},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,6}</string>
                <key>spriteSize</key>
                <string>{80,68}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{165,1},{80,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,17}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{101,81},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{150,36}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,203},{150,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,17}</string>
                <key>spriteSize</key>
                <string>{158,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{307,203},{158,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{152,24}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{153,203},{152,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{128,42}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{335,81},{128,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{335,1},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{49,1},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-11}</string>
                <key>spriteSize</key>
                <string>{98,40}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,81},{98,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{136,26}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{135,149},{136,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{140,34}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{273,149},{140,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-24}</string>
                <key>spriteSize</key>
                <string>{132,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{1,149},{132,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{118,66}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{215,81},{118,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_papillons_diffuse0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{247,1},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_papillons.png</string>
            <key>size</key>
            <string>{466,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5f51ba833dd9d6453290e0c650e49cd:bf43c4553b6694f3b95de98fd81c95d7:c7a3321e95011b6324826c0398882579$</string>
            <key>textureFileName</key>
            <string>anim_papillons.png</string>
        </dict>
    </dict>
</plist>
