<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_abeilles_diffuse_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{325,1},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{1,114},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{163,114},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{325,114},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{1,227},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{163,227},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{325,227},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{1,340},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_abeilles_diffuse_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,111}</string>
                <key>spriteSourceSize</key>
                <string>{160,111}</string>
                <key>textureRect</key>
                <string>{{163,340},{160,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_abeilles.png</string>
            <key>size</key>
            <string>{486,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3989d6bb0a1a0e7522c2019d5b90acb:9a94ad89bcd07d595b39e774a8675d14:f199559bfb3f6db2a5e67dfac75e60e4$</string>
            <key>textureFileName</key>
            <string>anim_abeilles.png</string>
        </dict>
    </dict>
</plist>
