<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_libellule01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{325,1},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,75},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{163,75},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{325,75},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,149},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{163,149},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{325,149},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,223},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{163,223},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{325,223},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,297},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{163,297},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{325,297},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_libellule16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,72}</string>
                <key>spriteSourceSize</key>
                <string>{160,72}</string>
                <key>textureRect</key>
                <string>{{1,371},{160,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_libellule.png</string>
            <key>size</key>
            <string>{486,444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1258d97e8bb919ebaaf3315ba6444186:887c7ebbd1567028ab2efa2581804452:9eb959c363430745b6f054d818063261$</string>
            <key>textureFileName</key>
            <string>anim_libellule.png</string>
        </dict>
    </dict>
</plist>
